annotated-types==0.7.0
beet==0.108.5
bolt==0.49.1
bolt-expressions==0.17.0
bolt_control_flow==0.3.0
click==8.1.7
click-help-colors==0.9.4
frozendict==2.4.4
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mecha==0.95.2
nbtlib==1.12.1
numpy==2.1.1
pathspec==0.11.2
pydantic==2.9.0
pydantic_core==2.23.2
Pygments==2.18.0
PyYAML==6.0.2
rich==13.8.0
tokenstream==1.7.0
toml==0.10.2
typing_extensions==4.12.2
tzdata==2024.1
weld-deps==0.13.0
smithed @ git+https://github.com/Smithed-MC/smithed-python@aca17c2347e38f6400d631540213361f82a83c1d